$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

.screenshot {
  width: 240px;
  height: 426px;
  margin: 0 auto;
}

.image1 {
  background: url('../images/go.png') center center no-repeat;
  background-size: cover;

  &:hover, &:focus {
    background: url('../images/rest.png') center center no-repeat;
    background-size: cover;
  }
}

.image2 {
  background: url('../images/go.png') center center no-repeat;
  background-size: cover;

  &:hover, &:focus {
    background: url('../images/rest.png') center center no-repeat;
    background-size: cover;
  }
}

@media (max-width: $screen-md-max) {
  .feature:last-child {
    margin-top: 32px;
  }
}

@media (max-width: $screen-sm-max) {
  .feature {
    margin-top: 32px;
  }
}

