$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

#contact {
  padding-bottom: 200px;
}

.screenshot {
  width: 240px;
  height: 426px;
  margin: 0 auto;
}

.image1 {
  background: url('../images/go.png') center center no-repeat;
  background-size: cover;

  &:hover, &:focus {
    background: url('../images/rest.png') center center no-repeat;
    background-size: cover;
  }
}

.image2 {
  background: url('../images/go.png') center center no-repeat;
  background-size: cover;

  &:hover, &:focus {
    background: url('../images/rest.png') center center no-repeat;
    background-size: cover;
  }
}

.ipad-image {
  width: 100%;
}

@media (max-width: $screen-sm-max) {
  .feature {
    margin-top: 32px;
  }

  .ipad-image {
    width: 50%;
  }
}

.sounds {
  button {
    height: 70px;
    .sound-holder {
      position: relative;
      left: 0;
      float: left;
    }

    .sound {
      width: 32px;
      height: 32px;
      background: url('../images/volume.png') center center no-repeat;
      background-size: contain;
      position: absolute;
      top: -4px;
      left: -6px;
    }
  }
}
